Archive/
Archive*
__pycache__/

website.db*
website_rubric/static/
website_rubric/media/*
!website_rubric/media/layout
!website_rubric/media/localfont
website_rubric/build/
website_rubric/build_*/
test*
try*

config.py
upload.sh*
slocs*

*.json*
schema.sql_*
