Archive/
Archive*
__pycache__/

website.db*
rubric_dyn/static/
rubric_dyn/media/*
!rubric_dyn/media/layout
!rubric_dyn/media/localfont
rubric_dyn/build/
rubric_dyn/build_*/
test*

config.py
upload.sh

*.json*
schema.sql_*
