<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Mod. Type</th>
      <th>Entry ID</th>
      <th>Entry Title</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  {% for change in changes %}
    <tr>
      <td>{{ change.id }}</td>
      <td>{{ change.date_norm}}</td>
      <td>{{ change.time_norm}}</td>
      <td>{{ change.mod_type }}</td>
      <td>{{ change.entry_id }}</td>
      <td>{{ change.entry_title }}</td>
      <td>{{ change.pub }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
