{#
<form id="call-edit" action="{{ url_for('interface.edit') }}" method="get"></form>
#}

{# create GET url for POST request ?? <input form="call-edit" type="hidden" name="preview" value="False" />#}


<form id="call-pub-change"
      action="{{ url_for('interface.pub_change') }}"
      method="get"></form>
<form id="call-unpub-change"
      action="{{ url_for('interface.unpub_change') }}"
      method="get"></form>

{#<form id="dl-text" action="{{ url_for('interface.download_text') }}" method="get"></form>#}

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Mod. Type</th>
      <th>Entry ID</th>
      <th>Title</th>
      <th>Published</th>
    </tr>
  </thead>
  <tbody>
  {% for change in changes %}
    <tr>
      <td>{{ change.id }}</td>
      <td>{{ change.date_norm}}</td>
      <td>{{ change.time_norm}}</td>
      <td>{{ change.mod_type }}</td>
      <td>{{ change.entry_id }}</td>
      <td>{{ change.entry_title }}</td>
      <td>
      {% if change.pub %}
        <button form="call-unpub-change" type="submit" name="id" value="{{ change.id }}" title="Unpublish">
          <img class="i_img_table" src="/media/layout/icons/checked.png" />
        </button>
      {% else %}
        <button form="call-pub-change" type="submit" name="id" value="{{ change.id }}" title="Publish">
          <img class="i_img_table" src="/media/layout/icons/unchecked.png" />
        </button>
      {% endif %}
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
