<form id="call-edit" action="{{ url_for('interface.edit') }}" method="get"></form>
<form id="call-pub" action="{{ url_for('interface.pub') }}" method="get"></form>
<form id="call-unpub" action="{{ url_for('interface.unpub') }}" method="get"></form>
<p>
  <form action="{{ url_for('interface.edit') }}" method="get">
    <button type="submit" name="id" value="new">New Page</button>
  </form>
</p>

<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Date</th>
      <th>Time</th>
      <th>Type</th>
      <th>Title</th>
      <th>Cat.</th>
      <th>Home</th>
      <th>Pub.</th>
    </tr>
  </thead>
  <tbody>
  {% for entry in entries %}
    <tr>
      <td>{{ entry.id }}</td>
      <td>{{ entry.date_norm }}</td>
      <td>{{ entry.time_norm }}</td>
      <td>{{ entry.type }}</td>
      <td>
        {% if entry.pub %}
          <a href="/{{ entry.cat_ref }}/{{ entry.date_norm }}/{{ entry.ref }}">{{ entry.title }}</a>
        {% else %}
          {{ entry.title }}
        {% endif %}
      </td>
      <td>{{ entry.cat_title }}</td>
      <td>{{ entry.note_show_home }}</td>
      <td>
      {% if entry.pub %}
        <button form="call-unpub" type="submit" name="id" value="{{ entry.id }}" title="Unpublish">
          <img class="i_img_table" src="/media/layout/icons/checked.png" />
        </button>
      {% else %}
        <button form="call-pub" type="submit" name="id" value="{{ entry.id }}" title="Publish">
          <img class="i_img_table" src="/media/layout/icons/unchecked.png" />
        </button>
      {% endif %}
      </td>
      <td><button form="call-edit" type="submit" name="id" value="{{ entry.id }}">Edit</button></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
