<nav id="main-nav" class="menu-default-pos menu-hidden">
  <ul class="main-menu-list">
    <li><a href="{{ url_for('pages.home') }}">Home</a></li>
    <li><span class="main-menu-topics-title">Categories</span>
      <ul class="main-menu-submenu">
      {% for item in cat_menuitems %}
        <li><a href="{{ url_for('pages.cat_view', cat_ref=item.ref) }}">{{ item.title }}</a></li>
      {% endfor %}
      </ul>
    </li>
    <li><a href="{{ url_for('pages.special', ref='about') }}">About</a></li>
  </ul>
{#<ul id="specials-nav-list">
  <li><a href="{{ url_for('pages.special', ref='about') }}">About</a></li>
</ul>#}
</nav>
