{% for date_set in date_sets %}
  <span class="small-date">
    <small>{{ date_set.date }}</small>

    {% for page in date_set.pages %}
      {% if page.time_norm != 'NOT_SET' %}
        <small id="pos_{{ page.date_norm }}_{{ page.time_norm }}">{{ page.time_norm }}</small>
      {% endif %}

      <small>
        <a href="{{ url_for('pages.entry', cat_ref=page.cat_ref, date=page.date_norm, ref=page.ref) }}">{{ page.ref }}</a>
      </small>
    </span>
    <div class="timeline-entry">

      {{ page.body_html | safe}}

      {% if page.cut %}
        <div class="timeline-more-box">
          <a href="{{ url_for('pages.entry', cat_ref=page.cat_ref, date=page.date_norm, ref=page.ref) }}">
            <img class="timeline-more-button"
                 src="/media/layout/icons/more.png"
                 alt="timeline more button"
                 title="view complete entry" /><span class="timeline-more-textbox"><strong>Read more...</strong></a></span>
        </div>
      {% endif %}
    </div>

  {% endfor %}

{% endfor %}
