{% extends "base.html" %}
{% block body %}

  {#<h1>{{ title }}</h1>#}

  <p>
    Currently, these are mostly my personal observation notes (astronomical
    and natural phenomena), including images.
  </p>

  <h2>by date</h2>

  <ul id="article-list" class="home-enh-list rolldown">
    {% for article in articles %}
      <li>
        <h3><a href="{{ url_for('pages.article', article_path=article.date_norm+'/'+article.ref) }}" title="View">{{ article.title }}</a></h3>
        <small>{{ article.date_norm }}</small>
        {% if article.tags %}
          <small class="tags">Tags: <strong>{{ article.tags }}</strong></small>
        {% endif %}
      </li>
    {% endfor %}
  </ul>

{% endblock %}
