{% extends "base.html" %}
{% block body %}

<div class="spacer"></div>

{% for gallery in galleries %}
{#  <div class="gal-prev-box">#}
    <a href="{{ url_for('pages.gallery', ref=gallery.ref) }}"
       class="clickbox clickbox-skin gal-prev-box">
      <h3 class="linkhigh">{{ gallery.title }}</h3>
      <small class="linkhigh">{{ gallery.date_norm }}</small>
      <img src="/media/{{ gallery.thumbs[0].thumb_ref }}" class="home-thumb" />
      <small class="tags list-tags">Tags: <strong>{{ gallery.tags }}</strong></small>
    </a>
{#  </div>#}
{% endfor %}

{% endblock %}
