{% extends "base.html" %}
{% block body %}

{#  <h1>Home</h1>#}

  <h2>latest</h2>

{#  <div class="collapse-wrap">#}
{#    <div id="latest-box" class="collapse-box collapse-collapsed">#}
  {{ latest_html |safe }}
    </div>
{#    <img id="latest-btn" class="roll-btn" src="/media/up_32.png" width="32"
      onclick="collapse_toggle(this, 'latest-box')"
      alt="Show/Hide all button" title="Show/Hide all" />#}
{#  </div>#}

  <h2>page history</h2>

{#  <div class="collapse-wrap">#}
{#    <div id="history-box" class="collapse-box collapse-collapsed">#}
    {{ history_html |safe }}
{#    </div>
    <img id="history-btn" class="roll-btn" src="/media/down_32.png" width="32"
      onclick="collapse_toggle(this, 'history-box')"
      alt="Show/Hide all button" title="Show/Hide all" />
  </div>#}

{#  <a name="articles"></a>
  <h2>articles</h2>

  <div class="collapse-wrap">
    <div id="articles-box" class="collapse-box collapse-collapsed">
      {% include "articles.html" %}
    </div>
    <img id="articles-btn" class="roll-btn" src="/media/down_32.png" width="32"
      onclick="collapse_toggle(this, 'articles-box')"
      alt="Show/Hide all button" title="Show/Hide all" />
  </div>

  <a name="galleries"></a>
  <h2>image galleries</h2>

  <div class="collapse-wrap">
    <div id="img-gal-box" class="collapse-box collapse-collapsed">
      <div id="img-gal-inbox">
        {% include "galleries.html" %}
      </div>
    </div>
    <img id="galleries-btn" class="roll-btn" src="/media/down_32.png" width="32"
      onclick="collapse_toggle(this, 'img-gal-box')"
      alt="Show/Hide all button" title="Show/Hide all" />
  </div>

  <h2>notes</h2>

#}

{#  <script src="/media/toggle.js"></script>#}
{#  <script>
    var hash = window.location.hash;
    if (hash == '#articles') {
        var btn = document.getElementById('articles-btn');
        var box = 'articles-box';
    }
    else if (hash == '#galleries') {
        var btn = document.getElementById('galleries-btn');
        var box = 'img-gal-box';
    }
    else {
        var btn = document.getElementById('latest-btn');
        var box = 'latest-box';
    }
    setTimeout(function(){collapse_toggle(btn, box);}, 100);
    setTimeout(function(){location.hash = hash;}, 2200);
  </script>
#}

{% endblock %}
