/* using webfont "Lora"
 * License and Copyright see localfont.css */
@import url('/media/layout/css/localfont.css');

body {
    margin: 0;
    padding: 0;
    /* background color,
       went from #000 over #0b0b0b to #070707,
       the old site had #0c1111 as background
       (for body and article)

       background looks _much_ darker on android tablet
       than on laptop
    */
/*    background-color: #000000;*/
/*    background-color: #0b0b0b;*/
/*    background-color: #0c1111;*/
    background-color: #070707;
    position: relative;
    color: #b0b0b0;
    font-family: 'Lora', serif;
}

a {
    color: #9cdede;
}

#site-wrapper {
    /* currently used for off-screen menu moving */
    position: relative;
    overflow: hidden;
    width: 100%;
    min-height: 780px;
}

/* HEADER */

header {
/*    position: fixed;*/
    width: 100%;
    /* use in body later */
    background-color: #000000;
    border-bottom: 1px solid #101010;
    color: #b7b7b7;
    height: 48px;
}

header h1 {
    margin: 0;
    padding-top: 5px;
    text-shadow: 0px 0px 1px #667;
    text-align: center;
    width: 100%;
}

/* <div> */
#logo-box {
    position: absolute;
    width: 55px;
    height: 38px;
}

#logo-box img {
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    height: 100%;
    display: block;
}

/* <img> */
.header-button {
    position: absolute;
    height: 48px;
    cursor: pointer;
}

/* <img> */
#menu-button-img {
    top: 0;
    right: 0;
}

/* MAIN NAVIGATION */

/* <nav> */
#main-nav {
    background-color: #070707;
    padding-left: 30px;
    padding-right: 30px;

    position: absolute;
    opacity: 0.9;
    height: 100%;
    width: 260px;
    z-index: 100;
    transition: right 0.5s;
}

.menu-default-pos {
    /* putting this in above id selection
       doesn't work cause it seems to take
       precedence over the hidden class
       --> could important be used here ???
       --> why is this ???
    */
    right: 0;
}

.menu-hidden {
    right: -290px;
}

#main-nav ul {
    list-style-type: none;
}

#main-nav a {
    text-decoration: none;
    color: #b0b0b0;
}

#main-nav a:hover {
    color: #9cdede;
}

/* <ul> */
.sections-nav-list {
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    padding-right: 40px;
}

.sections-nav-list li {
    border-bottom: 1px solid #333;
}

.sections-nav-list li li {
    border-bottom: none;
/*    font-size: 0.8em;*/
}

.sections-nav-list a {
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu-submenu {
    font-size: 0.8em;
/*    padding-top: 15px;
    padding-bottom: 15px;*/
}

.main-menu-topics {
    font-size: 0.7em;
    font-weight: normal;
    text-align: center;
    width: 100%;
    display: block;
    padding-top: 7px;
}

.menu-submenu ul {
    padding-top: 0px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.menu-submenu li a {
    padding-top: 5px;
    padding-bottom: 5px;
}    

#specials-nav-list {
    margin-top: 60px;
    font-size: 1.1em;
}

#specials-nav-list li {
    display: inline-block;
    padding-left: 25px;
}

/* ARTICLE */

/* (WIP) */
.toc {
    border: 1px solid #303030;
    margin-top: 15px;
    padding-right: 25px;
    display: inline-block;
    background-color: #1a1a1a;
    float: right;
}

article {
    margin-left: 10%;
    margin-right: 10%;
    /* for header fixed 48px + ca. 25px */
    padding-top: 25px;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 30px;
    /* background color was #0b0b0b before,
       same problematic as for body background */
    background-color: #151515;
    color: #b0b0b0;
}

article h1 {
    margin-top: 0;
    /* a little ?? */
    margin-bottom: 15px;
    border-bottom: 0;
    font-weight: bold;
    font-size: 2em;
    text-shadow: 0px 0px 1px #667;
    text-align: center;
}

article h2 {
/* --> missing margin on small paragraphs
       e.g. About page,
       but when corrected like this,
       too much margin below main title... ??? */
/*    margin-top: 35px;*/
}
article h3 {
/*    margin-bottom: 15px;*/
}

/* used for article date, below title
   <h3> */
/* --> oocss: here e.g. a .center class
              could do it (!!)
              or better .text-center */
.date {
    display: block;
    text-align: center;
}

/* <small> */
/* --> oocss: e.g. a light-color class */
.small-date {
    color: #909090;
}

/* --> oocss: evtl. .center class ?? */
article figure img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
}

article figure figcaption {
    position: relative;
}

/* regular caption
   <div> */
.fig-caption {
    background-color: #212121;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-right: 35px;
    min-height: 20px;
    text-align: center;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
}

/* exif info button */
article figure figcaption img {
    position: absolute;
    right: 0;
    top: -2px;
    width: 45px;
    cursor: pointer;
}

/* exif info text
   could use: article figure figcaption pre
     --> don't, class is fine
   <div> */
.fig-info {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #212121;
    margin-top: 0;
    padding-bottom: 10px;
    display: none;
}

.fig-info table {
    /* use when table title is used */
    /*margin-top: 10px;*/
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.fig-info table caption {
    padding-bottom: 5px;
}

.fig-info table td {
    padding-top: 2px;
    padding-bottom: 2px;
}

/* --> is this still used ??
    don't think so... */
/* article figure */
/*.thumb {
    width: 100px;
    display: inline-block;
    text-align: center;
    margin-top: 0;
    margin-bottom: 0;
}

.thumb figcaption {
    padding-left: 0;
    padding-right: 0;
}*/

/* <small> */
.tags {
    font-family: monospace;
    color: #437543;
    margin-top: 25px;
    margin-bottom: 15px;
    display: block;
}

article footer small {
/* text color was #303030 before */
    color: #575757;
    text-align: center;
    display: block;
    padding-top: 10px;
}

/* <img> */
/* --> oocss: improve, generalize ?! */
.myimg {
    width: 150px;
    float: right;
}

video {
    max-width: 100%;
}

/* footnotes */
hr {
    border: 0;
    border-top: 1px solid #333;
}

.footnotes {
    padding-top: 5px;
    font-size: 0.9em;
}

/* FOOTER */

/* <footer> */
#page-footer {
    margin-bottom: 5px;
    margin-left: 10%;
    margin-right: 10%;
    /* border color, was #101010 before */
    border-top: 1px solid #333;
    height: 48px;
}

/*  FOOTER PAGE NAVIGATION (prev, content, next) */

/* <nav> */
#page-nav {
    margin-left: 25px;
    margin-right: 25px;
    height: 100%;
    position: relative;
/* debug border */
/*    border: 1px solid blue;*/
}

#page-nav div {
    height: 43px;
    width: 48px;
}

/* <nav> #page-nav <div> */
#prev-link-box {
    border-right: 1px solid #333;
}

#next-link-box {
    position: absolute;
    right: 0;
    bottom: 5px;
    border-left: 1px solid #333;
}

#content-link-box {
    margin-left: auto;
    margin-right: auto;
    width: 48px;
    margin-top: -43px;
}

/* <nav> */
#page-nav img.inactive {
    opacity: 0.2;
}

/* MAIN VIEWS, LISTS, etc. */

/* Home */

.more-button {
    display: block;
    width: 40px;
    height: 40px;
/*    width: 100%;
    height: 100%;*/
    border: 1px solid #333;
    border-radius: 15px;
    background-color: #212121;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
}

.more-button img {
    width: 100%;
    height: 100%;
}

/* Timeline */

.timeline-entry {
    margin-left: 15px;
    padding-left: 20px;
    border-left: 1px solid #333;
    padding-bottom: 20px;
    margin-bottom: 16px;
}

.float-right {
    width: 100%;
    text-align: right;
}

.timeline-more-box {
/*    border: 1px solid red;*/
/*    margin-bottom: 16px;*/
    margin-top: 25px;
/*    padding-left: 45px;*/
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    position: relative;
}

.timeline-more-box a {
    display: block;
    width: 100%;
    height: 100%;
/*    color: #787878;*/
    color: #a0a0a0;
    font-size: 1.1em;
}

.timeline-more-box a:hover {
    color: #9cdede;
}

.timeline-more-button {
    width: 44px;
/*    background-color: #212121;*/
    border: 1px solid #333;
    border-radius: 22px;
}

.timeline-more-textbox {
    position: absolute;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    top: 7px;
}

.entry-prev {
/*    padding-left: 45px;*/
}

/* Articles */

.enhanced-list {
/*    background-color: #202020;*/
    padding-top: 10px;
    padding-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 0;
}

.enhanced-list li {
/*    border-bottom: 1px solid #333;*/
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 15px;
    clear: both;
}

.enhanced-list li h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

.list-tags {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* Image Galleries */
/* --> remove (we don't have galleries anymore..) */

.spacer {
    margin-top: 20px;
}

.clickbox {
    display: inline-block;
}

.clickbox-skin {
    background-color: #222;
    border: 1px solid #333;
    color: #b0b0b0;
    text-decoration: none;
}

.clickbox-skin:hover {
/*    background-color: #272727;*/
}

.clickbox:hover > .linkhigh {
    color: #9cdede;
}

.gal-prev-box {
    width: 150px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
}

.gal-prev-box h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

/* img */
.home-thumb {
    width: 150px;
    margin-top: 10px;
}

/* GALLERY */
/* --> remove .. */

.gallery-thumb {
    width: 150px;
}

/* IMAGEPAGE */
/* --> not used atm... */

/* --> evtl. change to id
   ==> oocss: class should be fine */
.imagepage-article {
    padding-top: 0px;
}

/* --> evtl. change to id
   ==> oocss: class should be fine */
.imagepage-fig {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100vh - 56px);
/*    border: 1px solid red;*/
}

.imagepage-fig img {
    max-height: calc(100vh - 203px);
}

/* RESPONSIVE WOOW */

@media screen and (max-width: 600px) {
    article figure {
        margin-left: 0;
        margin-right: 0;
    }
    article figure.thumb {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media screen and (max-width: 500px) {
    /* --> oocss: improve, generalize ?! */
    /* <img> */
    .myimg {
        float: none;
    }
}

@media screen and (max-width: 380px) {
    .menu-hidden {
        right: -330px;
    }
    article {
        margin-left: 2%;
        margin-right: 2%;
    }
    #page-footer {
        margin-left: 2%;
        margin-right: 2%;
    }
    /* <nav> */
    #page-nav {
        margin-left: 0;
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    article {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 300px) {
    article figure figcaption pre {
        width: 220px;
    }
}

/* INTERFACE */

/* general */

table {
    font-family: monospace;
    border-collapse: collapse;
/* --> fixed by using paragraphs (<p>) !! */
/*    margin-bottom: 15px;*/
}

table tr td {
    border: 1px solid #303030;
    padding: 5px;
}

input {
    color: #aaa;
    background-color: #1a1a1a;
    border: 2px solid #3a3a4a;
    margin: 5px;
    padding: 5px;
}

textarea {
    color: #aaa;
    background-color: #1a1a1a;
    border: 2px solid #777;
    margin: 5px;
    padding: 5px;
}

/* flash info output
   <em> */
.i_flash {
    color: yellow;
}

/* checked, unchecked button image !!!
   <img> */
.i_img_table {
    width: 14px;
}

.i_tags {
    font-family: monospace;
    color: #437543;
} 

/* edit.html (page) */

/* markdown text input field
   <textarea> */
#text-input {
    width: 90%;
    height: 250px;
    /* leads to no wrap at all in firefox */
    /*white-space: nowrap;*/
    overflow: auto;
}

/* preview stuff
   <h3> */
.i_preview_hint {
    margin-top: 0;
}
/* <hr> */
.i_preview_line {
    border: 0;
    border-bottom: 1px dashed #777;
}

/* preview thumbs */

.prev-table-box {
    min-height: 240px;
}

.prev-table {
    position: relative;
}

.prev-thumb {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 200px;
}

.prev-box {
    position: absolute;
    top: 0;
    right: -240px;
    width: 220px;
    height: 220px;
    border: 1px solid #303030;
/*    background-color: #555;*/
/*    display: none;*/
}

.prev-table tr td:hover {
    background-color: #101025;
}

.prev-table tr td:hover img {
    display: block;
}

/*.prev-table tr td:hover img {
    display: block;
}*/

/* images.html */

/* thumbnails */
.edit-thumb {
    width: 150px;
}

/* edit_image.html */

/* image preview */
/* <img> */
#edit-img-prev {
    width: 250px;
    padding: 15px;
/* (debug) */
/*    border: 1px solid #333;*/
}

/* FUCKOFF FF */
table tr td button {
    border: 0;
}
